*.DS_store

*.parquet
*.csv

01-docker-terraform/1_docker_sql/ny_taxi_postgres_data/*
private/*
01-docker-terraform/1_docker_sql/terraform/
01-docker-terraform/1_docker_sql/data_pgadmin

01-docker-terraform/2_terraform_gcp/google-cloud-sdk/*

02-workflow-orchestration/airflow/dags/*
02-workflow-orchestration/airflow/logs/*
02-workflow-orchestration/airflow/plugins/*

03-data-warehouse/airflow/dags/*
03-data-warehouse/airflow/logs/*
03-data-warehouse/airflow/plugins/*

7_project/airflow/dags/*
7_project/airflow/logs/*
7_project/airflow/plugins/*
7_project/terraform/

*.json
*.json.gz
